<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.himat.shortcuts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1C44958C-C4E2-46F7-9216-259062960803</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F8F8F30-E825-49DA-8DEB-3E25306365C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36752A33-7873-4231-9821-3F7F228D364B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>862E9D27-4A40-4B98-8205-51944B521090</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5010F185-CE6E-475E-9D43-61EB8C6B20EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C699A81B-98CA-4C46-8C0F-504A875C2B91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6634C991-5E9A-4620-85B4-2C36B3F08106</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD9664FD-FBD3-4CC5-8287-323CB9A8C10A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67430675-BC7C-44DE-BE5B-934271FBF758</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC25184D-DC21-4ECB-918A-5C5D29D51F5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>075F1E2A-A00E-482D-A3E3-00D988CD6BCD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE240504-E5BD-4C99-B923-92FBD6BFE434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>667FEEA4-4180-4CEF-BD62-53C372362953</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C73A959-EC15-4368-8306-54569F138652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>674CF40E-6C77-4E2C-A76C-13EB95028BE4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0A3A924-32A3-4353-9492-9987D0C6158B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8BDBB78B-083A-445D-9815-BCCF5FA6FB7E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F01C140C-FC38-483F-AC57-3732F95491F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6917319D-9B96-467A-A0E2-93623B5854A0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C9B4CFD-F516-4C5C-BE07-173A9A18F72D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AEFABA3A-400A-47E3-9F5E-CB0E4E5F5EC9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BFC084E0-4C58-475A-B440-596B158288A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4A3554FF-A4CB-41D5-80C4-718772FE2536</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C699A81B-98CA-4C46-8C0F-504A875C2B91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67430675-BC7C-44DE-BE5B-934271FBF758</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F56E8C11-5630-4DC6-89B3-44DCDDD53841</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD9664FD-FBD3-4CC5-8287-323CB9A8C10A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hima Tammineedi</string>
	<key>description</key>
	<string>Shortcuts to websites</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>My shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://mail.google.com/mail/u/1/#inbox</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC25184D-DC21-4ECB-918A-5C5D29D51F5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com/calendar/b/1/r</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE240504-E5BD-4C99-B923-92FBD6BFE434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>mail</string>
						<key>outputlabel</key>
						<string>Mail</string>
						<key>uid</key>
						<string>075F1E2A-A00E-482D-A3E3-00D988CD6BCD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cal</string>
						<key>outputlabel</key>
						<string>Cal</string>
						<key>uid</key>
						<string>667FEEA4-4180-4CEF-BD62-53C372362953</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>trello</string>
						<key>outputlabel</key>
						<string>Trello</string>
						<key>uid</key>
						<string>674CF40E-6C77-4E2C-A76C-13EB95028BE4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ktools-repo</string>
						<key>outputlabel</key>
						<string>ktools</string>
						<key>uid</key>
						<string>8BDBB78B-083A-445D-9815-BCCF5FA6FB7E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>targeting-repo</string>
						<key>outputlabel</key>
						<string>targeting</string>
						<key>uid</key>
						<string>6917319D-9B96-467A-A0E2-93623B5854A0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>drive</string>
						<key>outputlabel</key>
						<string>GDrive</string>
						<key>uid</key>
						<string>09BFB89E-42FD-4A99-9C3B-7B956AA4F181</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>aws</string>
						<key>outputlabel</key>
						<string>AWS EC2</string>
						<key>uid</key>
						<string>AEFABA3A-400A-47E3-9F5E-CB0E4E5F5EC9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>slack</string>
						<key>outputlabel</key>
						<string>Slack</string>
						<key>uid</key>
						<string>4A3554FF-A4CB-41D5-80C4-718772FE2536</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>67430675-BC7C-44DE-BE5B-934271FBF758</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://trello.com/b/POL8ov1h/kynes-technical</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C73A959-EC15-4368-8306-54569F138652</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>kynefsdjklj</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5010F185-CE6E-475E-9D43-61EB8C6B20EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Mail","arg":" mail","subtitle":"Open Kynes Gmail"},{"title":"Calendar","arg":" cal","subtitle":"Open Kynes calendar"},{"title":"Trello","arg":" trello","subtitle":"Open Kynes Trello"},{"title":"ktools","arg":"ktools-repo","subtitle":"Open ktool github repo"},{"title":"targeting-ML","arg":"targeting-repo","subtitle":"Open targeting-ML github repo"},{"title":"Drive","arg":"drive","subtitle":"Search Kynes Google Drive Folder"},{"title":"AWS","arg":"aws","subtitle":"Open EC2"},{"title":"Slack","subtitle":"Open Kynes Slack"}]</string>
				<key>keyword</key>
				<string>listk</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Shortcuts to Kynes things</string>
				<key>title</key>
				<string>Kynes</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>C699A81B-98CA-4C46-8C0F-504A875C2B91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/kynes-ai/ktools</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0A3A924-32A3-4353-9492-9987D0C6158B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/kynes-ai/targeting-ML</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F01C140C-FC38-483F-AC57-3732F95491F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>k drive</string>
				<key>subtext</key>
				<string>Search Kynes Drive</string>
				<key>text</key>
				<string>Kynes Google Drive</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1C44958C-C4E2-46F7-9216-259062960803</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635214451</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>2F8F8F30-E825-49DA-8DEB-3E25306365C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://us-west-2.console.aws.amazon.com/ec2/v2/home?region=us-west-2#Instances:sort=instanceId</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C9B4CFD-F516-4C5C-BE07-173A9A18F72D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kynesfield.slack.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BFC084E0-4C58-475A-B440-596B158288A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sc mail</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Schwarzman mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>36752A33-7873-4231-9821-3F7F228D364B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://partner.outlook.cn/owa/?realm=sc.tsinghua.edu.cn</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>862E9D27-4A40-4B98-8205-51944B521090</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>people i know</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open People List spreadsheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F56E8C11-5630-4DC6-89B3-44DCDDD53841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/spreadsheets/d/1F5uvyU9HWMlyX07aEvkgyyDNgb-B6SJkYYNRBvBRz_c/edit</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD9664FD-FBD3-4CC5-8287-323CB9A8C10A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>people list</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open People List spreadsheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6634C991-5E9A-4620-85B4-2C36B3F08106</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C44958C-C4E2-46F7-9216-259062960803</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>2F8F8F30-E825-49DA-8DEB-3E25306365C0</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>36752A33-7873-4231-9821-3F7F228D364B</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>795</integer>
		</dict>
		<key>5010F185-CE6E-475E-9D43-61EB8C6B20EF</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6634C991-5E9A-4620-85B4-2C36B3F08106</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>67430675-BC7C-44DE-BE5B-934271FBF758</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>6C73A959-EC15-4368-8306-54569F138652</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>862E9D27-4A40-4B98-8205-51944B521090</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>8C9B4CFD-F516-4C5C-BE07-173A9A18F72D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>645</integer>
		</dict>
		<key>B0A3A924-32A3-4353-9492-9987D0C6158B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>BD9664FD-FBD3-4CC5-8287-323CB9A8C10A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1185</integer>
		</dict>
		<key>BFC084E0-4C58-475A-B440-596B158288A2</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>C699A81B-98CA-4C46-8C0F-504A875C2B91</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>EC25184D-DC21-4ECB-918A-5C5D29D51F5A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>EE240504-E5BD-4C99-B923-92FBD6BFE434</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F01C140C-FC38-483F-AC57-3732F95491F2</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>F56E8C11-5630-4DC6-89B3-44DCDDD53841</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>1185</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://himat.github.io</string>
</dict>
</plist>
